@font-face {
    font-family: 'Conthrax SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Conthrax SemiBold'), url('conthrax-sb.woff') format('woff');
    }

html,body{
    margin: 0px;
    height: 100% !important;
}
.bg-extraboleta{
    background-color: #1D70B7;
}

.subtitulos{
    border-radius:10px 10px;
}
.st0 {
    fill: #1D70B7;
}

.st1 {
    fill: none;
}

.st2{
    fill: #F5F5F5;
}

.st3{
    font-family:'Conthrax SemiBold';
    font-weight:normal;
    }

.st4 {
    font-size: 14px;
}
    
#SideBar{
    position: sticky;
    top: 0px;
    z-index: 999;
    height: auto;    
}
#eapps-instagram-feed-2 a {
    display: none !important;
}

.btnMenu{
        width: 320px;
        position: absolute;
        left: -240px;
        transition: left 0.5s;
    }
    
.btnMenu:hover{
        left: 0;
    }

#btnInicio{
    top: 100px;
    }

#btnDescargar{
    top: 200px;
    }

#btnEventos{
    top: 300px;
   }     

#btnContacto{
    top: 400px;
   }

#btnPuntos{
    top: 500px;
   }
.p-galleria .p-galleria-item-nav{
    z-index: 9999;
}
.p-galleria-caption{
    /* height: 100%; */
    align-items: center;
    vertical-align: initial;
}

.p-menuitem,.btn-boleta:hover,.btn-boleta2{
    background: #1D70B7;
}

.p-menuitem{
   border-radius: 10px;
   margin-left: 1rem;
}

.p-carousel-container, .p-galleria-caption,.p-menubar-root-list{
    justify-content: center;
}
.p-menubar-root-list, .p-galleria-caption {
  display: flex;
}

.p-menubar-end{
  min-width: 161px;
}


.p-galleria-caption,.p-galleria-caption{
  text-align: center;
}


.btn-boleta, .btn-boleta2:hover, .p-menuitem:hover{
  background: #bd981e;
}

.p-menuitem,.btn-boleta, .btn-boleta2{
   font-weight: bold;
   border: 1.5px solid white;
}

.btn-boleta, .btn-boleta2{
    color:white !important;
}

.btn-boleta{
   font-size: 3rem !important;
    padding: 1rem 1.5rem;
}


.btn-boleta span.p-button-icon{
    font-size: 3rem;
}

header, footer, .p-menubar-root-list{
    width: 100%;

}

body{
    padding: 10px 10px 5px 10px;
}


.font-icon-social{
    font-size: 2.5rem;

}

.text-reset{
    color:white;
    text-decoration: none;
}
.copy-right{
    background-color: #00000096;
}


.imagen {
  width: 350px; /* Ancho inicial de la imagen */
  transition: width 0.5s ease; /* Transición suave para el cambio de tamaño */
}

.img-contenedor img {
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */

}
.img-contenedor:hover img {
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
.img-contenedor {
    overflow:hidden;
}

main{
    background-image: url("textura.svg");
  
  background-size: cover;
  border-radius: 10px 10px 0 0 ;
  /* height: 100vh; */
  
}

footer{
  
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(20%2c 94%2c 150%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c398.195C108.411%2c401.266%2c217.859%2c539.575%2c308.209%2c479.582C399.132%2c419.208%2c317.446%2c264.628%2c355.311%2c162.265C388.807%2c71.714%2c522.483%2c22.328%2c512.888%2c-73.742C503.385%2c-168.898%2c389.313%2c-214.018%2c312.097%2c-270.433C249.907%2c-315.87%2c175.149%2c-330.786%2c108.422%2c-369.252C14.521%2c-423.383%2c-53.475%2c-566.075%2c-159.178%2c-542.109C-262.349%2c-518.717%2c-249.08%2c-355.708%2c-315.275%2c-273.187C-377.665%2c-195.409%2c-522.246%2c-175.746%2c-532.606%2c-76.577C-543.077%2c23.654%2c-401.376%2c72.53%2c-361.041%2c164.882C-319.6%2c259.766%2c-384.15%2c406.237%2c-297.189%2c462.434C-210.306%2c518.58%2c-103.405%2c395.266%2c0%2c398.195' fill='%23104b78'%3e%3c/path%3e%3cpath d='M1440 1048.364C1529.926 1041.311 1599.334 974.771 1675.129 925.8679999999999 1750.776 877.06 1841.048 841.95 1883.208 762.406 1926.23 681.235 1924.939 582.774 1904.438 493.224 1884.897 407.86699999999996 1832.056 335.972 1771.174 273.036 1712.829 212.723 1644.7930000000001 160.01 1563.187 140.462 1483.701 121.42200000000003 1398.047 130.73000000000002 1324.31 165.99400000000003 1256.108 198.611 1223.23 272.192 1171.827 327.627 1118.179 385.483 1042.216 424.71500000000003 1015.55 498.973 986.444 580.027 990.749 670.865 1019.409 752.078 1049.5720000000001 837.55 1105.811 912.511 1179.909 964.71 1255.901 1018.2429999999999 1347.331 1055.632 1440 1048.364' fill='%231871b4'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    border-radius: 0 0 10px 10px;
}


.link-movil2,.anuncio2{display: none;}



 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #SideBar, #footer-menu, .anuncio1,  .p-galleria-caption,  .p-menubar{
        display: none !important;

    }
    .anuncio2{
        display: block;
    }

    .link-movil {
  display: inline !important;

}

.link-movil2{
    display: block !important;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 